body {
  padding: 50px;
  font: 14px Roboto, Helvetica, Arial, sans-serif;
  background-color:#bdc3c7;
}

a {
  color: #fff;
  font-weight: bold;
}
li a{
    float:right;
}
#questions{
    background-color:#fff;
}
.vote{
    display:inline;
    float:right;

}
.dummy{
    clear:both;
}

.votebtn, .deletebtn{
    border: 0px;
    padding:5px;
}
.votebtn{
    background-color:#1abc9c;

}
.deletebtn{
    background-color:#c0392b;

}

li{
    padding:5px;
    background-color:#2c3e50;
    color:#fff;
    margin-top:5px;

}
#askQ{
    background-color:#2980b9;
    border:none;
    color:#fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:10px;
    padding-right:10px;
    height:34px;
    margin-left:30px;
    font-weight: bold;
}
input[type="text"]{
    padding:5px;
    height:20px;
    width:400px;
}
#error{
    font-weight: bold;
    color:red;
}