body {
  padding: 50px;
  font: 14px Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: #fff;
font-weight: bold;
}
#questions{
    border: 1px solid #000;

}

.question{
    padding:5px;
    background-color:#1abc9c;
    color:#fff;
}
#askQ{
    background-color:#2980b9;
    border:none;
    color:#fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:10px;
    padding-right:10px;
    height:34px;
    margin-left:30px;
    font-weight: bold;
}
input[type="text"]{
    padding:5px;
    height:20px;
    width:400px;
}
#error{
    font-weight: bold;
    color:red;
}