body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #fff;
font-weight: bold;
}
#questions{
    border: 1px solid #000;

}

.question{
    padding:5px;
    background-color:#00b7ff;
    color:#fff;
}