extends layout

block content
 div#questions
    ul
     each val in questions
      li #{val.name} #{val.question} #{val.votes}

block append scripts
 script(src='http://localhost:3000/js/allquestions.js')