extends layout

block content

 h1 Ask your questions,
 form(method='post' id='vraag')
  input(type="text" name="questiontxt" placeholder="Enter your question" autofocus="autofocus" required)
  input(type="submit" name="askQ" id="askQ")
  input(type="hidden", name="username",value= '')
 p(id="error")

block append scripts
 script(src='http://localhost:3000/js/ask-client.js')