extends layout

block content
 div#questions
    ul
     each val in questions
      li <b>#{val.name}</b> </br> #{val.question} <form method="post" class="delete"><input type="hidden" name="id" value= '#{val._id}' /><b class="votes">#{val.votes}</b> <input type="submit" name="delete" class="deletebtn" value="delete" /></form><div class="dummy"></div>

block append scripts
 script(src='http://localhost:3000/js/allquestions.js')