doctype html
html
  head
  block head
   title= title
   link(rel='stylesheet', href='/stylesheets/style.css')
   script(src='http://code.jquery.com/jquery-1.11.0.min.js')
   script(src='http://chancejs.com/chance.min.js')
   script(src='http://localhost:3000/faye/client.js')
   script(src='http://localhost:3000/js/Question.js')
  body
    block content
    
block scripts

 
